# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.IQuadratC LidarClient.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\dev\IQuadratC\App\IQuadratC LidarClient\.idea\.idea.IQuadratC LidarClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
